<!DOCTYPE html>
<html lang="is">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:700" rel="stylesheet">
</head>

<body>
  <header>
    <div class="links">
      <a href="/">Heim</a>
      <a href="/applications" class="<%= title.includes('Umsóknir')  ? 'curent_page' : '' %>">Umsóknir</a>
      <a href="/login" class="<%= title.includes('Innskráning')   ? 'curent_page' : '' %>">Innskráning</a>
      <a href="/register" class="<%= title.includes('Nýskráning') ? 'curent_page' : '' %>">Nýskráning</a>
    </div>
    <% if ( userAuthenticated ) { %>
    <div class="status">
      <a href="/user">
        <%=  user.username %>
      </a></br>
      <a href="/logout">Útskráning</a>
    </div>
    <% }%>
  </header>
  <main>
