<%- include('header') -%>
<% if (typeof data === 'undefined') { data = {} }%>

<h1> Innskráning </h1>

<form id="login" action="/login" method="post">
  <div class="field_container">
    <div class="field_block">
      <label for="username">Notendanafn:</label>
      <input type="text" name="username" value="<%= data.username ? data.username : '' %>" class="<%= err.username ? 'error_input' : '' %>"><br>
    </div>

    <div class="field_block">
      <label for="password">Lykilorð:</label>
      <input type="password" name="password" class="<%= err.password ? 'error_input' : '' %>"><br>
    </div>

  </div>

  <% if (err !== '') { %>
  <h2>Vandræði við að senda umsókn:</h2>
  <ul class="error_list">
    <li>
      <%- err %>
    </li>
  </ul>

  <% }%>

  <button>Senda umsókn </button>
</form>

<%- include('footer') -%>
