<%- include('header') -%>
<% if (typeof data === 'undefined') { data = {} }%>
<% if (typeof err === 'undefined') { err = {} }%>

<div class="headding">
  <a href="/">Heim</a>
  <a href="/applications">Atvinnuumsókn</a>
  <a href="/login">Innskráning</a>
  <a href="/register">Nýskráning</a>
</div>

<h1> Nýskráning </h1>

<form id="application" action="/register" method="post">
  <div class="field_container">
    <div class="field_block">
      <label for="name">Nafn:</label>
      <input type="text" name="name" value="<%= data.name ? data.name : '' %>" class="<%= err.name ? 'error_input' : '' %>"><br>
    </div>

    <div class="field_block">

      <label for="email">Netfang:</label>
      <input type="text" name="email" value="<%= data.email ? data.email : '' %>" class="<%= err.email ? 'error_input' : '' %>"><br>
    </div>

    <div class="field_block">
      <label for="userName">Notendanafn:</label>
      <input type="text" name="userName" value="<%= data.userName ? data.userName : '' %>" class="<%= err.userName ? 'error_input' : '' %>"><br>
    </div>

    <div class="field_block">
      <label for="password01">Lykilorð:</label>
      <input type="password" name="password01" class="<%= err.password01 ? 'error_input' : '' %>"><br>
    </div>

    <div class="field_block">
      <label for="password02">Lykilorð, aftur:</label>
      <input type="password" name="password02" class="<%= err.password01 ? 'error_input' : '' %>"><br>
    </div>

  </div>

  <% if (typeof err.msgList !== 'undefined') { %>
  <h2>Vandræði við að senda umsókn:</h2>
  <ul class="error_list">
    <li>
      <%- `${err.msgList.join('</li><li>')}`%>
    </li>
  </ul>

  <% }%>

  <button>Senda umsókn </button>
</form>

<%- include('footer') -%>
